---
layout: default
title: "Minh Châu Blog | Blog"
permalink: /blog
---

<section class="main-banner main-banner-blogs">
	<div class="main-banner-h">Blog</div>
</section>

<section class="section-blog padding-body">
	{% include searchbar.html default="all" %}
	<div class="section-blog-layout2">
		<div class="left-group-blog-main">
			<div class="grid-blogcard">
				{% for post in site.posts %}
					{% capture post_cover %}{{site.url}}/assets/img/coverblog/{{post.cover}}{% endcapture %}
					{% capture post_date %} {{post.date|date:"%-d/%m/%Y"}}{% endcapture %}

					{% include blogcard.html url=post.url cover=post_cover topic=post.topic date=post_date heading=post.title brief=post.brief %}
				{% endfor %}

			</div>
		</div>
		<div class="right-groups">
			{% include topicgroup.html %}
		</div>
	</div>	
</section>
