---
layout: default
title: "Đức Thịnh Blog"
permalink: /
---

<section class="main-banner main-banner-home">
	<div class="main-banner-h">Chào mừng bạn đến với Đức Thịnh Blog</div>
	<div class="main-banner-p">Hãy khám phá những blog thú vị</div>
	<a href="#scroll-to-section-blog" class="main-banner-button m-btn-outline">Khám phá ngay</a>
</section>
<div id="scroll-to-section-blog" style="transform: translateY(-5rem)"></div>
<section class="section-blog padding-body">
	<h2 class="heading-primary">Blog - Chia sẻ những điều thú vị</h2>
	{% include searchbar.html default="all"%}
	<div class="section-blog-layout2">
		<div class="left-group-blog-main">

			{% if site.posts[0] %}
			<div class="blogcard-main-1 blogcard">
				<div class="ratio-img cover-blogcard">
					<div class="cover-blogcard-img">
						<img src="{{site.url}}/assets/img/coverblog/{{site.posts[0].cover}}" class="img-fit">
					</div>
					<div class="cover-blogcard-btn">
						<a href="{{site.posts[0].url}}" class="m-btn-outline btn-cover-blogcard">Xem Ngay</a>
					</div>
					<div class="cover-blogcard-content">
						<div class="cover-blogcard-h">{{site.posts[0].title}}</div>
						<div class="cover-blogcard-brief para">{{site.posts[0].brief}}</div>
					</div>
					
				</div>
				<div class="content-blogcard">
					<a href="{{site.url}}/blog/{{site.posts[0].topic}}" class="topic-blogcard"
						name="{% for topic in site.data.topic %}{% if site.posts[0].topic == topic.name %}{{topic.color}}{% endif %}{% endfor %}">
						{% for topic in site.data.topic %}
							{% if site.posts[0].topic == topic.name %}
								{{topic.text}}
							{% endif %}
						{% endfor %}
					</a>
					<div class="date-blogcard"><i class="fas fa-calendar-alt"></i> {{site.posts[0].date|date:"%-d/%m/%Y"}}</div>
					<a href="{{site.posts[0].url}}" class="heading-blogcard">{{site.posts[0].title}}</a>
					<p class="brief-blogcard para">{{site.posts[0].brief}}</p>
				</div>
			</div>
			{% endif %}
			
			<br>
			<div class="blogcards-main-2-3 grid-blogcard">
			{% for post in site.posts limit:2 offset:1 %}
			{% if post %}
				{% capture post_cover %}{{site.url}}/assets/img/coverblog/{{post.cover}}{% endcapture %}
				{% capture post_date %} {{post.date|date:"%-d/%m/%Y"}}{% endcapture %}

				{% include blogcard.html url=post.url cover=post_cover topic=post.topic date=post_date heading=post.title brief=post.brief %}
			{% endif %}
			{% endfor %}

			</div>
			<div class="section-blog-readmore">
				<a href="{{site.url}}/blog" class="m-btn section-blog-readmorebtn">Xem nhiều Blog hơn</a>
			</div>
		</div>
		<div class="right-groups">
			{% include topicgroup.html %}
		</div>
	</div>	
</section>

<br><br><br><br><br><br>
