<div class="blogcard">
	<div class="ratio-img cover-blogcard">
		<div class="cover-blogcard-img">
			<img src="{{include.cover}}" class="img-fit">
		</div>
		<div class="cover-blogcard-btn">
			<a href="{{include.url}}" class="m-btn-outline btn-cover-blogcard">Xem Ngay</a>
		</div>
	</div>
	<div class="content-blogcard">
		<a href="{{site.url}}/blog/{{include.topic}}" class="topic-blogcard"
			name="{% for topic in site.data.topic %}{% if include.topic == topic.name %}{{topic.color}}{% endif %}{% endfor %}">
			{% for topic in site.data.topic %}
				{% if include.topic == topic.name %}
					{{topic.text}}
				{% endif %}
			{% endfor %}
		</a>
		<div class="date-blogcard"><i class="fas fa-calendar-alt"></i>{{include.date}}</div>
		<a href="{{include.url}}" class="heading-blogcard">{{include.heading}}</a>
		<p class="brief-blogcard para">{{include.brief}}</p>
	</div>
</div>