<style type="text/css">
	.contact-icon-gm {
		background: var(--red);
	}
	.contact-icon-fb {
		background:  var(--blue);
	}
	.contact-icon-gh {
		background:  var(--black);
	}
</style>

<div class="list-contact-icon">
	<a href="" class="contact-icon contact-icon-gm"><i class="fas fa-envelope fa-lg"></i></a>
	<a href="https://www.facebook.com/buitongminhchau" target="_blank" class="contact-icon contact-icon-fb"><i class="fab fa-facebook-f fa-lg"></i></a>
	<a href="https://github.com/buitongminhchau01032002" target="_blank" class="contact-icon contact-icon-gh"><i class="fab fa-github-alt fa-lg"></i></a>
</div>