<footer class="footer padding-body">
	<div class="footer-logo">
		<a href="/" class="logo">
			{% include logo.html %}
		</a>
	</div>
	<div class="footer-useful-link">
		<div class="footer-heading">Truy cập nhanh</div>
		<div class="footer-useful-link-group">
			<a href="/" class="footer-useful-link-link">Trang chủ</a>
			<a href="{{site.url}}/blog/" class="footer-useful-link-link">Blog</a>
		</div>
	</div>
	<div class="footer-contact">
		<div class="footer-heading">
			Liên hệ
		</div>
		{% include contacticon.html %}
	</div>
</footer>