<header class="header padding-body">
	<a href="/" class="logo">
		{% include logo.html %}
	</a>
	<div class="nav">
		<ul class="menu">
			<li class="menu-item"><a href="/" class="menu-link">Trang chủ</a></li>
			<li class="menu-item">
				<a href="{{site.url}}/blog" class="menu-link">Blog <i class="fas fa-caret-down"></i>	</a>
				<ul class="sub-menu">
					{% for topic in site.data.topic %}
					{% if topic.name != "all" %}
					<li class="sub-menu-item"><a href="{{site.url}}/blog/{{topic.name}}" class="menu-link" name="{{topic.name}}">{{topic.text}}</a></li>
					{% endif %}
					{% endfor %}
				</ul>
			</li class="menu-item">
			<li class="menu-item"><a href="/" class="menu-link">Game</a></li>
			<li class="menu-item"><a href="/" class="menu-link">Tiện ích</a></li>
		</ul>
	</div>
	<div class="right-header">
		{% include contacticon.html %}
	</div>
</header>