<div class="searchbar">
	<div class="dropdown topic-search">
		<button class="topic-search-btn m-btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
		name="{{include.defautl}}"
		>{% for topic in site.data.topic %}{% if include.default == topic.name %}{{topic.text}}{% endif %}{% endfor %}</button>
		<div class="dropdown-menu topic-dropdown" aria-labelledby="dropdownMenuButton">
			{% for topic in site.data.topic %}
				<a class="dropdown-item topic-search-option" name="{{topic.name}}">{{topic.text}}</a>
			{% endfor %}
		</div>
	</div>
	<script type="text/javascript">
		function noti() {
			alert("Chức năng tìm kiếm chưa được cập nhật!");
		}
	</script>
	<input type="search" name="search-input" class="search-input" placeholder="Tìm kiếm blog">
	<a href="#" class="search-btn m-btn" onclick="noti()"><i class="fas fa-search"></i></a>
</div>