<div class="topic-group right-group">
	<div class="topic-heading heading-right-group">Chủ đề</div>
	<hr class="hr-right-group">
	<ul class="topic-list right-group-items">
		{% for topic in site.data.topic %}
		{% if topic.name != "all" %}
		<li class="topic-item">
			<a href="{{site.url}}/blog/{{topic.name}}" class="topic-link topic-link0{{topic.color}}" name="{{topic.name}}">
				<div class="topic-link-icon">{{topic.icon}}</div>
				<div class="topic-link-text">{{topic.text}}</div>
			</a>
		</li>
		{% endif %}
		{% endfor %}
	</ul>
</div>