---
layout: default
urlassets: {{page.urlassets}}
---
<section class="main-banner main-banner-blogs">
	<div class="main-banner-h">Chúc bạn đọc vui vẻ</div>
</section>
<section class="section-blog padding-body">
	{% include searchbar.html default="all" %}
	<div class="section-blog-layout2">
		<div class="left-group-blog-main">
			<div class="content-blog">
				<h2 class="content-blog-heading">{{page.title}}</h2>
				<div class="ratio-img" >
					<div class="cover-single-blog-img">
						<img src="{{site.url}}/assets/img/coverblog/{{page.cover}}" class="img-fit">
					</div>
				</div>
				<div class="content-md markdown-body">
					{{ content }}
				</div>
			</div>
		</div>
		<div class="right-groups">
			{% include topicgroup.html %}
		</div>
	</div>
</section>
